Language: Cpp
NamespaceIndentation: All
IndentWidth: 4
BinPackArguments: false
BinPackParameters: AlwaysOnePerLine
PenaltyBreakBeforeFirstCallParameter: 0
BreakFunctionDefinitionParameters: false
AllowAllArgumentsOnNextLine: false
AllowShortIfStatementsOnASingleLine: Always
BreakBeforeBraces: Allman
PointerAlignment: Left
ReferenceAlignment: Pointer